    /* Colors */
    :root{
    --main-text-color: #757575;
    --logo-accent-color: #2196F3;
    --accent-color:#2196F3;
    --dark-bcg-color:#2F303A;
    --white-bcg-color:#FFFFFF;
    --white-text-color:#FFFFFF;
    --grey-bcg-color:#E5E5E5;
    --hero-btn-active-color:#188CE8;
    --filtr-btn-bcg-color: #F5F4FA;
    --team-bcg-color: #F5F4FA;
    --dark-text-color:#212121;
    --footer-contact-color:rgba(255, 255, 255, 0.6);
}

    /* Скрипт для скрытия */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
    /* Скрипт для скрытия */

body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-text-color);
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.71;
}

.header{
    font-weight:500;
    line-height: 1.17;
    letter-spacing: 0.02em;
}

.link{
    text-decoration: none;
    color: inherit;
}
.list{
    list-style: none;
}
.nav-link.selected{
    color: #2196F3;
}
    /* Header logo */
.header-logo{
    color: var(--dark-text-color);
}
.logo {
    color: var(--logo-accent-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

    /* Header logo */

    /* Navigation */

.nav-list{
color: #212121;
}


.nav-link:hover,
.nav-link:active,
.contact-link:hover,
.contact-link:active,
.coordinate:hover,
.coordinate:active,
.footer-contact:active,
.footer-contact:hover{
    color: var(--accent-color);
}
    /* Navigation */

    /* Hero */
.hero{
    background-color: var(--dark-bcg-color);
}
.hero-title{
    color: var(--white-text-color);
    font-size: 44px;
    font-weight: 900;
    letter-spacing: 0.06em;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
}
.hero-btn{
    color: var(--white-text-color);
    background-color: var(--accent-color);
    border: 0;
    text-align: center;
    letter-spacing: 0.06em;
    font-size: 16px;
    line-height: 1.87;
    font-weight: 700;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.hero-btn:active,
.hero-btn:focus{
    background-color: var(--hero-btn-active-color);
}
    /* Hero */

    /* What we do */
.privelegy-subtitle{
    font-size: 14px;
    line-height: 1.17;
    color: var(--dark-text-color);
    text-transform: uppercase;

}


.section-title{
    font-size: 36px;
    line-height: 1.17;
    color: var(--dark-text-color);
    text-align: center;
}
    /* What we do */

    /* Team */
.team{
    background-color: var(--team-bcg-color);
}

.team-subtitle{
    font-weight: 500;
    color: var(--dark-text-color);
}
.team-text,
.team-subtitle{
    font-size: 16px;
    text-align: center;
    line-height: 1.18;
}
.team-item{
    background-color: var(--white-bcg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
    /* Team */

    /* Footer */
.footer{
    background-color: var(--dark-bcg-color);
}
.footer-logo{
    color: var(--white-bcg-color);
}

.coordinate{
    color: var(--white-text-color);
}

.adress{
    font-style: normal;
}
.footer-contact{
    color:var(--footer-contact-color)
}
    /* Footer */

    /* --------------------------------Portfolio-------------------------------- */
.filtr-button{
    background-color: var(--filtr-btn-bcg-color);
    border-color: var(--filtr-btn-bcg-color);
    color: var(--dark-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
}
.filtr-button:active,
.filtr-button:hover{
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    color: var(--white-text-color);
}
.button{
    font-family: inherit;
    cursor: pointer; 
    border-radius: 4px;
    font-style: inherit;
}
.button{
    font-family: inherit;
}
.projects-item{
background-color: var(--white-bcg-color);
border: 1px solid #EEEEEE;

}
.projects-subtitle{
    font-size: 18px;
    line-height: 2;
    color: var(--dark-text-color);
    letter-spacing: 0.06em;

}
.projects-text{
        font-size: 16px;
        line-height: 1.88;
}

    /* --------------------------------Portfolio-------------------------------- */